    {% extends 'base.html.twig' %}

    {% block title %}
        {{parent()}} Création d'un offre
    {% endblock %}

    {% block content %}
    <div class="container">
        <h2>offre créée.</h2>
    </div>
    {% endblock %}